@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');

body{
    background: #005FCB !important;
    font-family: 'Roboto', sans-serif;
}

$primary: #005fcb;
$secondary: #bbcbd5;


ul.menu{
    position:relative;

    li {
        display:inline-block;
        color:$secondary;
        list-style: none;
        margin: 0px 10px;

        &.selected{
            color:white;
        }
    }

}