@import '../../styles';


.card-number{
    background: white;
    position: relative;
    border-radius: 28px;
    margin: 15px;
    font-size: 70px;
    color: $primary;
    font-weight: bold;
    text-align: center;
    // -webkit-animation-name: fade;
    // animation-name: fade;
    // -webkit-animation-duration: 0.5s;
    // animation-duration: 0.5s;
    width: 17vw;
    height: 38vh;
    box-shadow: 3px 5px #0f58ab;
    display: flex;
    justify-content: center;
    align-items: center;
}

@for $i from 1 through 10 {
    .card-number:nth-of-type(#{$i}) {
        animation-delay:  (($i - 1) * 0.1s);
    }
}

.card-number.clicked{
    background:#dee6ea;
    animation-name: toggle;
    animation-duration: 0.3s;
}

@keyframes fade {
    from{
        // transform: scale(0.3);
        top:100px;
    }
    to{
        // transform: scale(1);
        top:0;
    }
}

@keyframes toggle {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(0.9);
    }
    100%{
        transform: scale(1);
    }
}





