@import '../../styles';


.search-room {
    margin-top: calc(100vh - 500px);
    height: 200px;
}

p{
    color:$secondary;
    margin:3px;
    padding:0;
    font-size:14px;
}

input{
    border-radius:50px;
    border:0px solid transparent;
    padding:10px 0;
    text-align: center;    
    color: $primary;
    letter-spacing: 8px;
}

.mask-anime {
    background: #e6ebf1;
    display: inline-block;
    width: 176px;
    padding: 0px;
    border-radius: 50px;
    -webkit-transition: 250ms ease;
      -moz-transition:  250ms ease;
      -o-transition: 250ms ease;
      -ms-transition: 250ms ease;
      transition: 250ms ease;
}

.mask-anime.searching {
    width: 260px !important;
}


::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
letter-spacing: 0px;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    letter-spacing: 0px;
}

::-ms-input-placeholder { /* Microsoft Edge */
    letter-spacing: 0px;
}
